stamp.androidtarget="Google Inc.:Google APIs:19"

stamp.apposcopy=true
stamp.report.dir=/home/saswat/work/appreports

#stamp.timeout=3600000

stamp.maxheap=16g
chord.bddbddb.max.heap=48g
chord.verbose=2

# summary report
#stamp.analyses.pre=gui-fix,base-java
#stamp.analyses.main=jimpleprinter
#stamp.analyses.post=

# flow analysis, jimple printing, apposcopy
#stamp.analyses.pre=inject-annot,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,comp-flow-dlog,iccg-dlog,taint-lim-dlog
#stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java

# flow analysis, summary report
#stamp.analyses.pre=inject-annot,comp-java-1,base-java,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,taint-lim-dlog
#stamp.analyses.post=post-dlog,post-java,summary-report
#stamp.analyses.post=post-dlog,post-java

# demand-driven flow analysis, summary report
#stamp.analyses.pre=inject-annot,comp-java-1,base-java,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,taint-lim-dd-pre-dlog,taint-lim-dd-pt-dlog,taint-lim-dlog
##stamp.analyses.post=post-dlog,post-java,summary-report
#stamp.analyses.post=post-dlog,post-java

# demand-driven k-cfa flow analysis, summary report
#stamp.analyses.pre=inject-annot,comp-java-1,base-java,annot-java,cipt-cg-dlog,contexts-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,taint-lim-dd-pre-dlog,taint-lim-dd-pt-dlog,taint-lim-dlog
##stamp.analyses.post=post-dlog,post-java,summary-report
#stamp.analyses.post=post-dlog,post-java

#stamp.printrels=CM,ci_IM,labelRef,queryObj,CICM,queryRefCtxt,varIn,varOut

# exhaustive k-cfa flow analysis
#stamp.analyses.pre=inject-annot,comp-java-1,base-java,annot-java,cipt-cg-dlog,contexts-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,taint-lim-dd-pre-dlog,pt-dlog,taint-lim-dlog
#stamp.analyses.post=post-dlog,post-java
#stamp.analyses.post=post-dlog,post-java

# obj-sens pt, jimple printing, iccg
#stamp.analyses.pre=gui-fix,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,iccg-dlog
#stamp.analyses.post=jimpleprinter

#stamp.printrels=ICCG,SrcTgt

#stamp.printrels=pt,fpt,queryRefCtxt,queryRef,queryObj,queryFpt,queryFptBase,queryFptAll,taintedSrc,escaped,tainted,xferOut,varIn,varOut
#stamp.printrels=pt,fpt,CICM,queryRefCtxt,queryRef,queryObj,queryFpt,queryFptBase,queryFptAll,taintedSrc,escaped,tainted,xferOut,varIn,varOut,CM,CI,CH
#,CICMtmp,DIC,ICM

##stamp.printrels=Alloc,MV,reachableCM,CC,CH,pt,fpt,Dispatch,StatIM
#stamp.printrels=CallerComp,MC,ICCG,IntentTgtField,CH,fpt,pt,reachableCM,CC,CI,CICM,TgtAction,TgtDataType,CSC,SCH,ICCMeth,GlobalAlloc,Launch,ObjSC


#stamp.max.harness.size=1


#  yufeng: obj-sens pt, jimple printing, iccg
#stamp.analyses.pre=gui-fix,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog
#stamp.analyses.main=exp-dlog,explorer
#stamp.analyses.post=jimpleprinter
#stamp.printrels=SrcTgt,ci_IM

#stamp.analyses.pre=gui-fix,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,iccg-dlog,cscg-dlog,cg-java
#stamp.analyses.post=jimpleprinter
#stamp.printrels=SrcTgt,SrcTgtObj


# yufeng test icc:  yufeng: obj-sens pt, jimple printing, iccg
stamp.analyses.pre=gui-fix,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog
stamp.analyses.main=exp-dlog,explorerIcc
stamp.analyses.post=jimpleprinter
stamp.printrels=

# yufeng test perf:  yufeng: obj-sens pt, jimple printing, iccg
#stamp.analyses.pre=gui-fix,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,iccg-dlog,cscg-dlog,explorer,cg-java
#stamp.analyses.post=jimpleprinter
#stamp.printrels=

# yufeng test perf:  yufeng: insen version
#stamp.analyses.pre=gui-fix,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog
#stamp.analyses.main=explorer
#stamp.analyses.post=jimpleprinter
#stamp.printrels=
